{% extends 'base.html' %}
{% load static %}

{% block title %} Ehouse Reset Password {% endblock %}

{% block content %}

<div class="hero is-fullheight">
    <div class="hero-body is-justify-content-center is-align-items-center is-flex is-flex-direction-column">
        <div class="columns is-flex is-flex-direction-column">
            
            <div class="has-text-centered column is-8">
                {% include 'includes/messages.html' %}
            </div>

            <form action="{% url 'user-password-forget' %}" method="POST" novalidate>
                {% csrf_token %}
                <div class="has-text-centered column is-8">
                    <ion-icon name="person-add-sharp" size="large"></ion-icon>
                    <p class="is-size-3 has-text-weight-bold">Reset Password</p>
                </div>
                <div class="column">
                    {% if form.email.errors %}
                        <div class="help is-danger">{{ form.email.errors }}</div>
                    {% endif %}
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
                <div class="column">
                    <button class="button is-dark is-fullwidth" type="submit">Reset password Email</button>
                </div>
                <div class="has-text-centered">
                    <p class="is-size-7">Do you remember your password <a href="{% url 'user-login' %}" class="has-text-dark has-text-weight-bold"> Log in</a>
                    </p>
                    <p class="is-size-7">Don't have an account? <a href="{% url 'user-register' %}" class="has-text-dark has-text-weight-bold"> Signup</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}